<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="LineCode" Value="01" />
    <Attribute Name="PackDataPath" Value="D:/PackData/" />
    <Attribute Name="IsActiveLeds" Value="1,192.168.1.29;2,192.168.1.30;3,192.168.1.31;4,192.168.1.32" />
  </Attributes>
  <Services>
    <Service Name="SortPLC" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="SortPLC.xml" />
  </Services>
  <Processes>
    <Process Name="OrderRequestProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.OrderRequestProcess" Suspend="true">
      <Item ServiceName="SortPLC" ItemName="OrderRequestA" />
    </Process>
    <Process Name="CurrentOrderProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.CurrentOrderProcess">
      <Item ServiceName="SortPLC" ItemName="CurrentOrderA" />
    </Process>
    <Process Name="MissOrderProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.MissOrderProcess">
      <Item ServiceName="SortPLC" ItemName="MissOrderA" />
    </Process>
    <Process Name="ViewProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.ViewProcess" />
    <Process Name="SortingStatus" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.View.Control.SortingStatus"/>
    <Process Name="CreatePackAndPrintDataProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.CreatePackAndPrintDataProcess" />
    <Process Name="LEDProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.LEDProcess">
      <Item ServiceName="SortPLC" ItemName="EmptyErrA" />
    </Process>
    <Process Name="SortStatusProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.SortStatusProcess">
      <Item ServiceName="SortPLC" ItemName="SortStatus" />
    </Process>
    <Process Name="SortRunStatusProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.SortRunStatusProcess">
      <Item ServiceName="SortPLC" ItemName="SortRunStatus" />
    </Process>
  </Processes>
</Configuration>