<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="SupplyToSortLine" Value="00" />
    <Attribute Name="IsActiveLeds" Value="1,192.168.1.26;2,192.168.1.27;3,192.168.1.28;4,192.168.1.29;5,192.168.1.30" />
    <Attribute Name="SupplyAheadCount-01-1-2" Value="20" />
    <Attribute Name="SupplyAheadCount-01-1-3" Value="20" />
    <Attribute Name="SupplyAheadCount-02-1-2" Value="20" />
    <Attribute Name="SupplyAheadCount-02-1-3" Value="20" />
  </Attributes>
  <Services>
    <Service Name="StockPLC" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC.xml" />
    <Service Name="Scanner" Type="THOK.MCP.Service.Sick.dll, THOK.MCP.Service.Sick.SickService" ConfigFile="Scanner.xml" />
  </Services>
  <Processes>
    <Process Name="SupplyNextRequestProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockOutProcess.SupplyNextRequestProcess">
      <Item ServiceName="StockPLC" ItemName="01_1_3" />
      <Item ServiceName="StockPLC" ItemName="01_1_2" />
      <Item ServiceName="StockPLC" ItemName="02_1_3" />
      <Item ServiceName="StockPLC" ItemName="02_1_2" />
    </Process>
    
    <Process Name="OrderDataStateProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StateManageProcess.OrderDataStateProcess">
      <Item ServiceName="StockPLC" ItemName="01_OrderDataMoveNext" />
      <Item ServiceName="StockPLC" ItemName="01_OrderDataMoveTo" />
    </Process>
    
    <Process Name="ScannerStateProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StateManageProcess.ScannerStateProcess">
      <Item ServiceName="StockPLC" ItemName="01_ScannerMoveNext" />
      <Item ServiceName="StockPLC" ItemName="01_ScannerMoveTo" />
      <Item ServiceName="StockPLC" ItemName="01_ScannerShowData" />
      <Item ServiceName="StockPLC" ItemName="01_ReleaseScanner" />
      <Item ServiceName="Scanner" ItemName="01" Desc="扫描器主站01" />
      <Item ServiceName="StockPLC" ItemName="02_ScannerMoveNext" />
      <Item ServiceName="StockPLC" ItemName="02_ScannerMoveTo" />
      <Item ServiceName="StockPLC" ItemName="02_ScannerShowData" />
      <Item ServiceName="StockPLC" ItemName="02_ReleaseScanner" />
      <Item ServiceName="Scanner" ItemName="02" Desc="扫描器主站02" />
    </Process>

    <Process Name="LedStateProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StateManageProcess.LedStateProcess" >
      <Item ServiceName="StockPLC" ItemName="01_LedMoveNext" />
      <Item ServiceName="StockPLC" ItemName="01_LedMoveTo" />
      <Item ServiceName="StockPLC" ItemName="01_LedShowData" />
      <Item ServiceName="StockPLC" ItemName="01_ReleaseLed" />
      <Item ServiceName="StockPLC" ItemName="02_LedMoveNext" />
      <Item ServiceName="StockPLC" ItemName="02_LedMoveTo" />
      <Item ServiceName="StockPLC" ItemName="02_LedShowData" />
      <Item ServiceName="StockPLC" ItemName="02_ReleaseLed" />
      <Item ServiceName="StockPLC" ItemName="03_LedMoveNext" />
      <Item ServiceName="StockPLC" ItemName="03_LedMoveTo" />
      <Item ServiceName="StockPLC" ItemName="03_LedShowData" />
      <Item ServiceName="StockPLC" ItemName="03_ReleaseLed" />
    </Process>
    
    <Process Name="LEDProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.CommonProcess.LEDProcess" />
    <Process Name="ViewProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockInProcess.ViewProcess" />
  </Processes>
</Configuration>